.registr{
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-width: 400px;
  padding: 20px;
  min-height: 370px;
  border: 1px solid #414141;
  border-radius: 15px;
  background-color: #222222;
  &__title{
    color: #E1E3E6;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    button {
      background-color: #222222;
      font-size: 13px;
      font-weight: 400;
      color: #E1E3E6;
      padding: 10px;
      border-radius: 10px;
      margin: 0 4.5px;
      transition: background-color 0.3s;
      &:hover{
        background-color: #333333;
      }
    }
  }
  &__error{
    color: #89b2e8;
    padding-left: 3px;
    padding-top: 2px;
  }
  &__input {
    padding: 10px;
    position: relative;
    min-width: 150px;
    input {
      font-family: inherit;
      border: 1px solid #414141;
      border-radius: 10px;
      width: 100%;
      padding: 10px 10px;
      font-size: 16px;
      &:focus {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }

    }
  }

}

