@import "../../scss/variables";
.header{
  &__wrapper{
    background-color: #222222;
    height: $headerHeight
  }
  &__container{
    margin: 0 auto;
    max-width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__content{
  display: flex;
    align-items: center;
  }
  &__logo{
    max-width: 24px;
    max-height: 24px;
  }
  &__title{
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
    text-decoration: none;
    color: #E1E3E6;
  }
  &__auth{
    display: flex;
    align-items: center;

    button {
      background-color: #222222;
      font-size: 13px;
      font-weight: 400;
      color: #E1E3E6;
      padding: 6px 10px;
      border-radius: 10px;
      margin: 0 4.5px;
      transition: background-color 0.3s;
      &:hover{
        background-color: #333333;
      }
    }
  }
}