@import "../../scss/variables";

.header {
  &__wrapper {
    background-color: #222222;
  }

  &__container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 24px;
    max-height: 24px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
    text-decoration: none;
    color: #e1e3e6;
  }
}
